</body>
<footer class="bg-secondary text-white">
    <!-- Grid container -->
    <div class="container p-4">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 id="textoDoFooter" class="text-uppercase">QUEM SOMOS?</h5>

        <p>
            Somos um site gratuito com o objetivo de expor receitas a todos os usuários afim de compartilhar os melhores sabores que a culinária pode oferecer!
        </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">CONTATOS:</h5>

        <ul class="list-unstyled mb-0">
            <li>
            <a href="https://www.instagram.com/giiovanajoice/" class="text-white">Instagram</a>
            </li>
            <li>
            <a href="https://github.com/GiovanaJoice" class="text-white">GitHub</a>
            </li>
            <li>
            <a href="https://replit.com/@GiovanaJoice" class="text-white">Replit</a>
            </li>
            <li>
            <a href="https://mail.google.com/mail/u/0/?tab=wm#inbox" class="text-white">giovana.joice.costa10@aluno.ifce.edu.br
            </a>
            </li>
        </ul>
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright  |
    <a class="text-white" href="https://github.com/GiovanaJoice">GiovanaJoice.com</a>
    </div>
    <!-- Copyright -->
</footer>


</html>