<%- include('partials/header.ejs') %>
    <h1>Categorias</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo</th>
            <th scope="col">Links</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Aves</td>
            <td><a href= "https://www.almanaqueculinario.com.br/receitas/aves">https://www.almanaqueculinario.com.br/receitas/aves</a></td>
            
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Bebidas</td>
            <td><a href= "https://www.receiteria.com.br/receitas-de-drinks/">https://www.receiteria.com.br/receitas-de-drinks/</td></a>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Carnes</td>
            <td><a href = "https://www.tudogostoso.com.br/categorias/1004-carnes">https://www.tudogostoso.com.br/categorias/1004-carnes</td></a>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Doces e sobremesas</td>
            <td><a href = "https://www.docesesobremesas.com">https://www.docesesobremesas.com</td></a>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Lanches e salgadinhos</td>
            <td> <a href = "https://blog.tudogostoso.com.br/cardapios/receitas-faceis/lanches-salgados/">https://blog.tudogostoso.com.br/cardapios/receitas-faceis/lanches-salgados/</td></a>
          </tr> 
          <tr>
            <th scope="row">6</th>
            <td>Massas</td>
            <td> <a href="https://www.receiteria.com.br/receitas-de-massas/">https://www.receiteria.com.br/receitas-de-massas/</td></a>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Peixes e frutos do mar</td>
            <td> <a href="https://www.receitasnestle.com.br/blog-post/64-receitas-com-peixe-e-leves">https://www.receitasnestle.com.br/blog-post/64-receitas-com-peixe-e-leves</td></a>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Saladas</td>
            <td> <a href="https://www.receitasnestle.com.br/blog-post/receitas-saladas">https://www.receitasnestle.com.br/blog-post/receitas-saladas</td></a>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Sopas</td>
            <td> <a href = "https://receitas.globo.com/tipos-de-prato/saladas/">https://receitas.globo.com/tipos-de-prato/saladas/</td></a>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Bolos e tortas</td>
            <td> <a href = "https://www.receitadevovo.com.br/subcategorias/bolos">https://www.receitadevovo.com.br/subcategorias/bolos</td></a>
          </tr>
          
        </tbody>
      </table>
    
<%- include('partials/footer.ejs') %>